---
layout: default
title: Commissioned Projects
description: Blackbody Studio's complete list of paid projects.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>A comprehensive look at our paid work</h1>
	</div>

</section>

<section class="portfolio">

	<div class="content-wrap portfolio-wrap">
		{% for project in paginator.posts %}

		<div class="portfolio-item portfolio-item-20">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image">
					<img src="{{ project.featured_image  }}" alt="{{ project.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>
		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Projects</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Projects</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}