---
layout: default
title: Commissioned Projects
description: Blackbody Studio's complete list of paid projects.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>A comprehensive look at our paid work</h1>
	</div>

</section>

<section class="portfolio">

	<div class="content-wrap portfolio-wrap">
	</div>

</section>

{% capture list %}
		{% for project in site.projects reversed %}

		<div class="portfolio-item portfolio-item-20">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image">
					<img src="{{ project.featured_image  }}" alt="{{ project.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>
		{% unless forloop.last %}^{% endif %}
		{% endunless %}
{% endcapture %}
{% assign p_list = list | split: "^" %}

<!-- create javascript array of strings -->
<script>
var j_list = []
{% for p_item in p_list %}
var item = document.createElement("div");
item.innerHTML = p_item
j_list.push(item);
{% endfor %}
</script>
