---
layout: default
title: Commissioned Projects
description: Blackbody Studio's complete list of paid projects.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>A comprehensive look at our paid work</h1>
	</div>

</section>

<section class="portfolio">

	<div class="content-wrap portfolio-wrap">

		{% assign maxProj = 5 %}
		{% assign counter = 0 %}
		{% for project in site.projects reversed limit:4 %}

		<div class="portfolio-item portfolio-item-20">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image">
					<img src="{{ project.featured_image  }}" alt="{{ project.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>
<!--         {% assign counter = counter | plus: 1 %}
		{% if counter == maxPost %}
            {% break %} {% comment %}exit the for loop{% endcomment %}
        {% endif %}
 -->
		{% endfor %}

	</div>

	<p><center><button class="append-button">Append new items</button></center></p>

</section>