---
layout: default
---

<section class="intro">

	<div class="wrap">

		<center>
		<h1>{{ page.title }}</h1>
		<p style="font-family: Georgia; font-style: italic;margin-top:0px; margin-bottom:20px">{{ page.subtitle }}</p>
		</center>

		{% if page.hero_video_hd and page.hero_video_sd %}
			<div class="content-wrap portfolio-wrap">

				<div class="portfolio-item portfolio-item-100">

				<a class="afterglow portfolio-item__link" href="#herovideo">

					<div class="portfolio-item__image">
						<img src="{{page.hero_image}}">
					</div>

					<div class="hero-overlay">
						<img style="width:30px" src="/images/play-icon.png">
					</div>

				</a>

				</div>

			</div>
			<video id="herovideo" width="16" height="9" preload="auto" onloadedmetadata="hero_set_dim()" data-overscale="false" poster="{{page.hero_image}}">
			  <source type="video/mp4" src="{{page.hero_video_hd}}" data-quality="hd"/>
			  <source type="video/mp4" src="{{page.hero_video_sd}}" />
			</video>
		{% else %}
			<img src="{{page.hero_image}}">
		{% endif %}
	</div>

</section>

<section class="single">

	{{ page.content }}

</section>
